# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 

*  Popualar Data Science Languages
*  Libraries used for Data Science
*  Open-source developement environments for Data Science
*  Used/Examples of Arithematic Expressions

Some of the popular languages that Data Scientists use are: 
1. Python
1. R 
1. SQL
1. JavaScript

Some of the most commonly used libraries used by Data Scientists are: 
1. NumPy
1. Pandas
1. PyTorch
1. Scikit-learn

| Data Science Tools|
|---|
| Jupyter Notebook|
| R Studio |
| Apache Spark |

### Below are three examples of evaluating arithematic expressions in Python

In [2]:
# This is a simple arithematic expression to multiply and then add integers. 
(3*4)+5

17

In [5]:
# This will convert 200 minutes into hours by dividing by 60 
hours = 200 / 60 
print(hours)

3.3333333333333335

## Author
Mahwish Fatima